.cover__title {
  margin: 0 0 32px;
  text-align: center;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  z-index: 2;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 90%;
    font-size: calc((100vw - 320px) / (748 - 320) * (72 - 32) + 32px);
    line-height: calc((100vw - 320px) / (748 - 320) * (76 - 35) + 35px);
    margin-bottom: 16px;
  }
}
